{% extends "base.html" %}
{% block content %}
<div class="container ">
    <h1 class="pb-4 mb-4 ">
        My Games
    </h1>
    <table class="table table-hover w-75">
        <thead>
            <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Event Date</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in all_tickets %}
            {% if request.user.id == ticket.user.id%}
            <tr>
                <td>{{ticket.event.event_name}} <br>
                    {{ticket.event.event_date}} @ {{ticket.event.event_time}}
                </td>
                <td>
                    <a href="{% url 'view_ticket' ticket.id %}" class="shadow btn btn-success">View Tickets</a>
                    <a href="{% url 'edit_ticket' ticket.id %}" class="shadow btn btn-info">Edit Tickets</a>
                    <a href="{% url 'delete_ticket' ticket.id %}" class="shadow btn btn-danger">Delete Tickets</a>
                </td>
    
            </tr>
            {% endif %}
            {% endfor %}
      </table>

</div>

{% endblock %}