{% extends "base.html" %}

{% block content %}
    
{% load static %}

<main class="form-signin m-auto">
  <form action="loginPage" method="POST">
    {% csrf_token %}
    <img class="m-auto" src="{% static '/img/header_logo.svg'%}" alt="" width="172" height="157">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    {% if messages %}
          <ul class="messages">    
              {% for message in messages %}    
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
              {% endfor %}
              </ul>
    {% endif %}
  </form>
  <a href="register">Not a Member? Register Here!</a>
</main>


{% endblock %}